
      .body {

         background-image: url("arkaplan.png");
         background-repeat:repeat;
         background-size: cover
      }

    .as{

        size: 5;
        color:yellowgreen;
    }
    
    